.cover {
  display: flex;
  background-color: var(--background);
  justify-content: center;
  align-content: space-between;
  overflow: hidden;
  width: 100vw;
 
}

.image-cover {
  display: flex;
  align-items: center;
}
.image-cover img {
  width: 100%;
  padding: 10px 0px 0px 0px;
}
.text-cover {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0px 10px 0px;
  margin-top: 7px;
  background: linear-gradient(45deg, #dde3ee, #92f4d2);
  box-shadow: inset #496395 1px 36px 100px 41px;
  flex-direction: column;
  padding: 80px;
  
}

.search-cover {
  display: flex;
  box-shadow: rgb(84 60 169 / 35%) 1px 36px 100px 41px;
  border-radius: 33px;
  background: #ffffff;
}
.content {
  padding: 50px 0px 33px 0px;
  background-color: var(--background);
}
.content h3:hover{
  color: #0c2d6b;
}
.q-text{
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  align-items: center;
  margin-top: 30px;
  z-index: 2 !important;
  background: linear-gradient(133deg, #366bcc, #92f4d2);
  width: 100vw;
  
}
.q-text:hover{
  
  color:#1e3eb3;
  
}


.cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(45deg, #366bcc, #92f4d2);
  padding: 15px;
  

}

@media (max-width: 1060px) {
  .cover {
    flex-direction: column;
    display: flex;
  }
  .text-cover {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0px;
    box-shadow: inset rgb(134 112 213 / 35%) 1px -1px 26px 18px;
    
  }
  .image-cover img {
    padding: 0px;
    margin: 0px;
  }
  .search-cover {
    margin-top: 15px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
 
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset rgb(134 112 213 / 35%) -2px 3px 168px 0px;
  }
  
}
@media only screen and (max-width: 768px) {
  .q-text h1{
   
    line-height: 44px !important;
    font-weight: 800 !important;
    
    
  }
  .q-text h4{
    
    line-height: 28px !important;
    font-weight: 800 !important;
  }
}