@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
 margin: 0;
 padding: 0;   
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
 
}
:root {
    --brand-primary: #0c2d6b;
    --background: #f2f2f2;
    --white: #ffffff;
    --black: #111111;
  
    --header-height: 80px;
  }